
<div class="jumbotron transparent">
  <h1 class="display-3">Bienvenido!</h1>
  <p class="lead">Soy José Gamboa, soy un desarrollador web mexicano especializado en ruby on rails, me gustan los videojuegos, adoro la comida rápida y el beisból.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/about" role="button">Conocer más</a>
  </p>
</div>
