<!DOCTYPE html>
<html>
  <head>
    <title>José Carlos Gamboa Esparza</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-D/7uAka7uwterkSxa2LwZR7RJqH2X6jfmhkJ0vFPGUtPyBMF2WMq9S+f9Ik5jJu1"
          crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
